@model BetmaxReferralService.Models.ProTrialEmail

@{
    Layout = "./_Layout.cshtml";
}

@section styles {
    <style>
    .top-title-container {
        background: #26262B;
        text-align: center;
    }
     .top-title { 
        display: inline-block;
     }
     .hello {
         padding-bottom: 5px;
         box-sizing: border-box;
         text-align: center;
         margin-top: 25px;
         font-size: 20px;
     }
     .hello-text {
         vertical-align: top;
         font-weight: 500;
     }
     .hello-icon {
         display: inline-block;
         height: 24px;
         min-width: 24px;
         background-size: 28px;
         box-shadow: 0px 3px 4px #00000080;
         background-position: center center;
         border-radius: 14px;
         background-image: url('https://cdn.betmax.ru/dist/icons/cool.png');
     }
     .container > p {
         text-align: center;
         font-size: 20px;
     } 
     p.details {
         margin-top: 20px;
         padding: 0px 100px;
     }
     p.details.first {
         margin-top: 80px;
     }
     p.thanks {
         margin-bottom: 20px;
         font-weight: 500;
         padding: 0 150px;
     }
     p.thanks.first {
         margin-top: 100px;
     }
     .footer {
         background: #26262B;
     }
     .footer .images .socials {
         width: 50px;
         margin-left: 361px;
     }
     .pro-icon {
         width: 74px;
         height: 34px;
         box-shadow: 0 0 8px #f5c719;
         border: 1px solid #f5c719;
         border-radius: 5px;
         background-color: #000000;
         color: #f5c719;
         font-family: Roboto;
         font-size: 32px;
         font-weight: 500;
         padding-top: 5px;
         display: inline-block;
         vertical-align: top;
         margin-top: 5px;
         line-height: 26px;
         cursor: default;
     }
    </style>
}

@section reason {
    зарегистрировались в профессиональной версии расширения BetMAX.
}

<div class="top-title-container">
    <img class="top-title" src="https://betmax.ru/img/email/logo-shadow.png">
    <div class="pro-icon">PRO</div>
</div>
<div class="hello">
    <span class="hello-text">Здравствуйте, @Model.Username !</span>
    <div class="hello-icon"></div>
</div>
<p class="details first">Вы активировали бесплатный пробный период BetMAX PRO на @Model.TrialLength.<br>Он закончится @Model.EndDate.ToString("dd.MM.yyyy") в @Model.EndDate.ToString("HH:mm") по мск.</p>
<p class="thanks first">Благодарим Вас за подключение BetMAX PRO.</p>
<p class="thanks">Удачных ставок!</p>