@model BetmaxReferralService.Models.ReferralRegisterEmail

@{
    Layout = "./_Layout.cshtml";
}
@section styles
{
    <style>
        .top-title-container { 
            background: #1F2633;
        }
        img {
            display: block;
        }
        .footer {
            background: #1F2633;
        }
        .footer .images .socials {
            width: 75px;
            margin-left: 339px;
        }
    </style>
}
@section reason {
    зарегестрировались в партнерской программе расширения BetMAX.
}
<div class="top-title-container">
    <img class="top-title" src="https://betmax.ru/img/email/logo-shadow.png">
</div>
<img class="hands" src="https://betmax.ru/img/email/hands.png">
<div class="became-partner">Вы стали партнёром расширения BetMAX</div>
<div class="your-link">Ваша партнерская ссылка:</div>
<input class="link-container" value="@Model.ReferralLink">
<div class="share-link">Делитесь вашей ссылкой с другими игроками и получайте <b>@Model.InstallPrice₽</b> за каждого нового привлеченного пользователя*</div>
<div class="explanation">*После установки BetMAX по реферальной ссылке, пользователю, установившему расширение, необходимо выполнить сравнение коэффициентов не менее 100 раз. После этого установка будет засчитываться партнёру.</div>

